<html>
<body>
<form action="/" method="get">
  <button type="submit" value="salir" class="button" style="vertical-align:top;float:right;">
  Salir del juego</button>
</form>
Usando Mapa predeterminado 
<%=$valjugada%>
<h2> Caza al monstruo</h2>
<h4> Jugada: </h4>
<form action="/optionPlay" method="post">
  <input type="radio" id="jugadaMover" name="option" value="move" onclick="checkMover()" class="radio">
  <label style="font-size:19px;font-weight: bold;">Mover</label><br>
  <input type="radio" id="jugadaFlecha" name="option" value="arrow" onclick="checkFlecha()" class="radio">
  <label style="font-size:19px;font-weight: bold;">Lanzar Flecha</label><br>
  <input type="radio" id="jugadaSpray" name="option" value="spray" onclick="checkSpray()" class="radio">
  <label style="font-size:19px;font-weight: bold;">Usar Spray</label>
  <input type="hidden" id=play name=jugada>
  <% if $hasAccessToNorth == true %>
  		<button type="submit" name="puntoCardinal" value="norte" class="button buttonNorte">Norte</button><br>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="norte" disabled class="button buttonNorte2">Norte</button><br>
  <% end %>
  

  <% if $hasAccessToEast == true %>
  		<button type="submit" name="puntoCardinal" value="este" class="button buttonEste">Este</button>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="este" disabled class="button buttonEste2">Este</button>
  <% end %>

   <img src="https://i.pinimg.com/originals/be/20/a3/be20a344ff08fcb8d77c53df37385d2c.jpg" style="position: absolute; top: 120px; left: 650px;"> 

  <% if $hasAccessToWest == true %>
  		<button type="submit" name="puntoCardinal" value="oeste"  class="button buttonOeste">Oeste</button>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="oeste" disabled  class="button buttonOeste2">Oeste</button>
  <% end %>


  <% if $hasAccessToSouth == true %>
  		<button type="submit" name="puntoCardinal" value="sur" class="button buttonSur">Sur</button>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="sur" disabled  class="button buttonSur2">Sur</button>
  <% end %>
  
</form>

<br>
<br>
<%=$posPlayer%>
<br>
<%=$arrowPlayer.to_s%>
<br> 
<% if $monsterAlert == true %>
<%=$messageMonsterAlert%>
<% end %>
<br>

   
<script> 
function checkMover()
{
  radioMover= document.getElementById("jugadaMover"); 
  radioMover.checked=true;
  document.getElementById("play").innerHTML =getPlayOption();
}

function checkFlecha()
{
  radioFlecha=document.getElementById("jugadaFlecha");
  radioFlecha.checked=true;
  document.getElementById("play").innerHTML =getPlayOption();
}

function checkSpray()
{
  radioSpray=document.getElementById("jugadaSpray");
  radioSpray.checked=true;
  document.getElementById("play").innerHTML =getPlayOption();
}

function getPlayOption()
{ 
  playOption=document.getElementById("play").value;
  radioMover =document.getElementById("jugadaMover");
  radioFlecha=document.getElementById("jugadaFlecha");
  radioSpray= document.getElementById("jugadaSpray");
  if (radioMover.checked) {
    playOption = radioMover.value;
  }
  else if (radioFlecha.checked) {
    playOption = radioFlecha.value;
  }
  else if (radioSpray.checked) {
    playOption = radioSpray.value;
  }  
  document.getElementById("play").value=playOption;  
} 

function loadRadioButton()
{
  var optionPlay='<%=$valjugada%>';
  if(optionPlay=="arrow"){
    document.getElementById("jugadaFlecha").click();
    document.getElementById("jugadaFlecha").checked=true;
  }else if(optionPlay=="spray"){
    document.getElementById("jugadaSpray").click();
    document.getElementById("jugadaSpray").checked=true;
  }else{  
    document.getElementById("jugadaMover").click();
    document.getElementById("jugadaMover").checked=true;
  }
}
window.onload=loadRadioButton();
</script> 

<style>
 .radio{ 
    height: 30px;
    width: 30px;  
    margin-bottom: 15px;
    cursor: pointer; vertical-align: middle; 
}
.button {
    font-size:19px;
    font-weight: bold;
    cursor: pointer;
  	text-align: center;
   	border-radius: 100%;
    height:65px;
    width:95px; 
    background-color:#87CEEB;
  	box-shadow: 0 9px #AAA;
}

.button:active {
  background-color: #32CD32;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonNorte {
position: absolute; top: 45px; left: 695px;
}

.buttonSur {
position: absolute; top: 305px; left: 695px;
}

.buttonEste {
position: absolute; top: 180px; left: 840px;
}

.buttonOeste {
position: absolute; top: 180px; left: 550px;
}

.buttonNorte2 {
position: absolute; top: 45px; left: 695px;background-color: #696969;
}

.buttonSur2 {
position: absolute; top: 305px; left: 695px;background-color: #696969;
}

.buttonEste2 {
position: absolute; top: 180px; left: 840px;background-color: #696969;
}

.buttonOeste2 {
position: absolute; top: 180px; left: 550px;background-color: #696969;
}
</style>

</body>
</html>