<link href="styles.css" rel="stylesheet" type="text/css" />
<body>
<form action="/" method="get">
  <button type="submit" value="salir" class="button" style="vertical-align:top;float:right;">
  Salir del juego</button>
</form>
Usando Mapa predeterminado 
<h1> Caza al monstruo</h1>
<form action="/optionPlay" method="post"> 
<h3>Movimiento aleatorio del monstruo</h3>
  <input type="radio" id="monstruoOn" name="moverMonstruo" value="monsterMove" onclick="checkMoverMonstruo()" class="radio">
  <label style="font-size: 22px;font-weight: bold;">Activar</label>
  <input type="radio" id="monstruoOff" name="moverMonstruo" value="monsterDontMove" onclick="checkNoMoverMonstruo()" class="radio">
  <label style="font-size: 22px;font-weight: bold;">Desactivar</label>
<h3> Jugada: </h3>  
  <input type="radio" id="jugadaMover" name="jugada" value="move" onclick="checkMover()" class="radio">
  <label style="font-size:22px;font-weight: bold;">Mover</label><br>
  <input type="radio" id="jugadaFlecha" name="jugada" value="arrow" onclick="checkFlecha()" class="radio">
  <label style="font-size:22px;font-weight: bold;">Lanzar Flecha</label><br>
  <input type="radio" id="jugadaSpray" name="jugada" value="spray" onclick="checkSpray()" class="radio">
  <label style="font-size:22px;font-weight: bold;">Usar Spray</label>

  <% if $hasAccessToNorth == true %>
  		<button type="submit" name="puntoCardinal" value="norte" class="button buttonNorte">Norte</button><br>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="norte" disabled class="button buttonNorte2">Norte</button><br>
  <% end %>
   
  <% if $hasAccessToEast == true %>
  		<button type="submit" name="puntoCardinal" value="este" class="button buttonEste">Este</button>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="este" disabled class="button buttonEste2">Este</button>
  <% end %>

  <img src="https://i.pinimg.com/originals/be/20/a3/be20a344ff08fcb8d77c53df37385d2c.jpg" style="position: absolute; top: 120px; left: 650px;"> 

  <% if $hasAccessToWest == true %>
  		<button type="submit" name="puntoCardinal" value="oeste"  class="button buttonOeste">Oeste</button>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="oeste" disabled  class="button buttonOeste2">Oeste</button>
  <% end %> 

  <% if $hasAccessToSouth == true %>
  		<button type="submit" name="puntoCardinal" value="sur" class="button buttonSur">Sur</button>
  <% else %>
  		<button type="submit" name="puntoCardinal" value="sur" disabled  class="button buttonSur2">Sur</button>
  <% end %> 
</form> 
<label style="font-family: Monospace, Lucida Console;font-weight: bold;font-size: 17px;">
<%=$posPlayer%>
</label>
<br>
<label style="font-family: Monospace, Lucida Console;font-weight: bold;font-size: 17px;">
<%=$arrowPlayer%>
</label>
<br> 
<% if $monsterAlert == true %> 
  <label style="font-family: Monospace, Lucida Console;font-weight: bold;font-size: 17px;color: red;">
  <%=$messageMonsterAlert %>
  </label> 
<% end %>   
<% if $monsterDeathByArrow == false %> 
  <label style="font-family: Monospace, Lucida Console;font-weight: bold;font-size: 17px;color: blue;">
  <%=$messageMissArrow %>
  </label> 
<% end %>  
<br> 
<script>
function checkMover(){
  document.getElementById("jugadaMover").checked=true;
}

function checkFlecha(){
  document.getElementById("jugadaFlecha").checked=true;
}

function checkSpray(){
  document.getElementById("jugadaSpray").checked=true;
}

function checkMoverMonstruo(){
  document.getElementById("monstruoOn").checked=true;
}

function checkNoMoverMonstruo(){
  document.getElementById("monstruoOff").checked=true;
}

function loadRadioButton(){
  var optionPlay='<%=$jugada%>';
  if(optionPlay=='arrow'){
    document.getElementById("jugadaFlecha").click();
  }else if(optionPlay=='spray'){
    document.getElementById("jugadaSpray").click();
  }else{  
    document.getElementById("jugadaMover").click();
  }  
}

function loadRadioButtonMonster(){ 
  var optionMonsterMove ='<%=$moverMonstruo%>';
  if(optionMonsterMove=='monsterDontMove') {
    document.getElementById("monstruoOff").click();
  }else{
    document.getElementById("monstruoOn").click();
  }
}
window.onload=loadRadioButton();
window.onload=loadRadioButtonMonster();
</script> 
</body>